body 
{
  background-color: #c0b19f;
}

.container
{
  display: flex;
  width: 100%
}
.maindiv
{
    display: flex;
}
.row
{
    display: table-row;
}
.col
{
  font-family: 'Courier New', 'monospace',  sans-serif;
  color: rgb(51, 48, 48);
  display: table-cell;
  padding: 20px;
}
.window
{
  background-color: #e0d9d2;
  box-shadow: 3px 3px 6px 4px rgba(109, 107, 106, 0.237);
  border: 0;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.window1
{
  background-color: #e0d9d2;
  box-shadow: 3px 3px 6px 4px rgba(109, 107, 106, 0.237);
  border: 0;
  border-radius: 15px;
  transition: background-color 0.3s;
  width: 50px;
}
.window:hover
{
  background-color: #faede3;
}
.window:active
{
  background-color: #e2d3c1;  
}
.disp
{
    font-weight: bold;
}	